:root {
  /* Colors */
  --color-primary: #3498db; /* Main blue color */
  --color-primary-light: #5dade2;
  --color-secondary: #2ecc71; /* Secondary green color */
  --color-background: #f5f5f5; /* Light background */
  --color-text: #333; /* Dark text color */
  --color-text-light: #777; /* Light text color */
  --color-border: #ddd; /* Border color */
  --color-white: #fff;

  /* Font */
  --font-family: "Arial", sans-serif;
  --font-size-base: 16px;
  --font-size-heading: 2em;
  --font-size-subheading: 1.3em;

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;

  /* Border radius */
  --border-radius: 5px;
  /*  Box Shadows */
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

html {
  box-sizing: border-box;
  font-size: var(--font-size-base); /* Base font size for rem units */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family);
  margin: 0; /* Remove default margin */
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.6;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px; /* Adjust this value to match your desired logo size */
  width: auto;
  object-fit: contain;
  margin-right: 1rem;
  position: relative;
  bottom: 1px;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: var(--color-primary);
}
button {
  background-color: var(--color-primary);
  color: var(--color-white);
  fill: var(--color-white);
  border: none;
  padding: var(--spacing-small) var(--spacing-medium);
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: var(--color-primary-light);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input,
textarea {
  padding: var(--spacing-small);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-medium);
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
}

/* General container for pages */
.container {
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto; /* Center content */
  padding: var(--spacing-medium);
  display: grid;
  grid-template-columns: 3fr 1fr; /* wider on desktop */
  gap: var(--spacing-large);
}

/* Header styling */
header {
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  padding: var(--spacing-medium);
}

body > header {
  position: fixed;
  width: 100%;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo h1 {
  margin: 0;
}
header nav ul {
  display: flex;
  gap: var(--spacing-large);
  justify-content: center;
  flex: 1;
}
header nav ul li a {
  padding: var(--spacing-small);
  text-decoration: none;
  color: var(--color-text);
  transition: color 0.3s ease;
  position: relative;
  bottom: -2px;
}
header nav ul li a:hover {
  color: var(--color-primary);
}
/* Search bar */
.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 0 15px;
  margin-right: 15px;
}

.search-input {
  margin-bottom: 0;
  flex: 1; /* Make the input take available space */
  outline: none;
  border: none;
}
.search-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: var(--color-text-light);
}

/* Main Content Grid */
main {
  padding: var(--spacing-medium) 0;
  padding-top: 81px; /* Add the height of the header */
}

/* Footer Styling */
footer {
  background: var(--color-white);
  padding: var(--spacing-medium);
  text-align: center;
  border-top: 1px solid var(--color-border);
  margin-top: var(--spacing-large);
}
footer nav ul {
  display: inline-flex;
  gap: var(--spacing-large);
  margin-top: var(--spacing-small);
}
footer nav ul li a {
  color: var(--color-text-light);
}

/* Sidebar styling for Home and Profile Pages */
.sidebar {
  background: var(--color-white);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.sidebar h3 {
  margin-top: 0;
  font-size: var(--font-size-subheading);
}
.sidebar ul li {
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-small);
  gap: var(--spacing-small);
  padding: 10px;
  border-radius: 8px;
}
.sidebar ul li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.sidebar ul li button {
  margin-left: auto;
  padding: var(--spacing-small) var(--spacing-medium);
}

/* Comment Styles */
.comments {
  background-color: var(--color-white);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-bottom: var(--spacing-medium);
}
.comments h3 {
  margin-top: 0;
  font-size: var(--font-size-subheading);
}
.comment {
  padding: var(--spacing-small);
  border-bottom: 1px solid var(--color-border);
}

/* Responsive adjustments */
@media (max-width: 940px) {
  .container {
    grid-template-columns: 2fr 1fr;
  }

  .search-bar {
    padding: 7px 15px;
  }

  .search-input {
    display: none;
  }
  .sidebar ul li {
    flex-direction: column;
  }
  .sidebar ul li button {
    margin-left: 0;
    width: 100%;
  }
}
